.tests-wrapper {
    max-width: 600px;
    padding-block: 16px;
}

.single-test-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 0.4rem;
    padding-inline: 1rem;
    margin-block: 0.4rem;
    background-color: rgb(249, 141, 141);

    opacity: 0;
    transform: translateX(50px);
    transition: 300ms ease-in-out;
}

.single-test-wrapper.passed {
    background-color: rgb(141, 249, 141);
}

.single-test-wrapper>h4 {
    min-width: 150px;
}

.single-test-wrapper.show {
    opacity: 1;
    transform: translateX(0);
}

code {
    white-space: pre-wrap;
    display: block;
    background-color: white !important;
}

.toggle-list {
    border-radius: 16px;
    padding-inline: 2rem;
    margin-bottom: 16px;
    background-color: var(--light-purle);
    max-width: 1000px;
    margin-top: 64px;
}

.toggle-header {
    padding-block: 0.75rem;
    border-radius: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.toggle-header:has(input:checked)+.hidden-content {
    display: block;
}

.toggle-header:not(:has(input:checked))+.hidden-content {
    display: none;
}

.toggle-header>input {
    display: none;
}

.toggle-header>label:hover {
    cursor: pointer;
    font-weight: 600;
}

.toggle-header:has(input:checked)>label>span:before {
    content: "expand_less";
}

.toggle-header:not(:has(input:checked))>label>span:before {
    content: "expand_more";
}

.hidden-content {
    padding-block: 16px;
}

.toggle-list {
    opacity: 0;
    transform: translateX(50px);
    transition: 300ms ease-in-out;
}

.toggle-list.show {
    opacity: 1;
    transform: translateX(0);
}