.code-snippet-wrapper {
    background-color: var(--code-snippet);
    padding: 8px;
    margin-block: 24px;
    font-family: "Space Mono", monospace;

    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.code-snippet-wrapper pre {
    font-size: 0.72rem;
    padding-left: 16px;
    padding-top: 0.4rem;
}

p.code-line {
    font-size: 0.64rem;
    padding-left: 8px;
}

.code-snippet {
    padding-inline: 8px;
}