{% extends 'base.html' %}
{% block content%}
<main>
    {% if vulnerabilities %}
    <h2>Vulnerabilities</h2>
    <section class="alerts-list-wrapper">
        {% for vur in vulnerabilities %}
        <div class="alert-container">
            <div class="alert-icon-wrapper">
                <div class="material-symbols-outlined icon">bug_report
                </div>
            </div>
            <div class="alert-body-wrapper">
                <p>{{vur.name}}</p>
                <a href={{vur.reference}}><button><span>Reference </span><span class="material-symbols-outlined">
                    quick_reference_all
                    </span></button></a>
            </div>
            <div class="alert-bin-wrapper">
                <label class="material-symbols-outlined"><input type="checkbox" class="hidden"/>close</label>
            </div>
        </div>
        {% endfor %}
    </section>
    {% else %}
    <h2>Congrats! There are no vulnerabilities.</h2>
    {% endif %}
</main>
{% endblock content %}