{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" href="/static/warnings.css">
{% endblock %}
{% block script %}
<script>
    let closedIds = []

    function loadLocalStorage(){
        if (localStorage.getItem("closedIds") != null){
            closedIds = JSON.parse(localStorage.getItem("closedIds"));
            for (const id of closedIds) {
                const elem = document.querySelector("#war-"+id);
                elem.classList.add("hidden");
            }
        }
    }

    window.onload = loadLocalStorage;
    
    function doAlert(checkboxElem, warningId) {
        if (checkboxElem.checked) {
            closedIds.push(warningId);
            checkboxElem.parentElement.parentElement.parentElement.classList.add("hidden");
            localStorage.setItem("closedIds", JSON.stringify(closedIds));
        }
    }
</script>
{% endblock %}
{% block content%}
<main>
    {% if warnings %}
    <h2>Warnings</h2>
    <section class="alerts-list-wrapper">
        {% for warning in warnings %}
        <div class="alert-container" id="war-{{warning.id}}">
            <div class="alert-icon-wrapper">
                <div class="material-symbols-outlined icon">warning</div>
            </div>
            <div class="alert-body-wrapper">
                <p>
                    {{warning.name}}
                </p>
                {% if warning.code_str != "" %}
                <div class="code-snippet-wrapper">
                    <p class="code-line">{{warning.line}}</p>
                    <pre class="code-snippet">{{warning.code_str}}</pre>
                </div>
                {% endif %}
            </div>
            <div class="alert-bin-wrapper">
                <label class="material-symbols-outlined">
                    <input type="checkbox" class="hidden" onchange="doAlert(this,'{{warning.id}}')" />close</label>
            </div>
        </div>
        {% endfor %}
    </section>
    {% else %}
    <h2>Congrats! There are no warnings.</h2>
    {% endif %}
</main>
{% endblock content %}

