<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meta code analysys{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/toggle_switch.css">
    {% block style %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
    <side-navbar>
        <h1>Meta analysis</h1>
        <nav>
            {% for item in nav_bar %}
                <a href="{{item.endpoint}}" class="navbar-item  {% if item.isSelected %} selected {% endif %}">
                    <h3 class="material-symbols-outlined icon">{{item.emoji}}
                    </h3>
                    <h3>{{item.name}}</h3>
                </a>
            {% endfor %}
        </nav>
        <div class = 'toggle-switch'>
            <label class='toggle-label'>
                <input type = 'checkbox' class='switch-input'>
                <span class = 'slider'></span>
            </label>
            <a href = 'https://dribbble.com/shots/14199649-Dark-Light-Mode-Toggle-Switch-Pattern-A11y' class="credits">
                Inspired by the design from Tim Silva
            </a>
        </div>
    </side-navbar>
    <main-content>
        {% block content %}{% endblock %}
    </main-content>
</body>
</html>