{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="/static/fuzzing.css">
{% endblock %}

{% block content%}
<main>
    <h2>Fuzzing with <a href="https://github.com/crytic/echidna">Echidna</a></h2>
    <div class="toggle-list">
        <div class="toggle-header">
            <div class="info-wrapper">
                <span class="material-symbols-outlined">tips_and_updates
                </span>
                <h3> How to write echidna tests?</h3>
            </div>
            <input type="checkbox" name="show" id="show-1">
            <label for="show-1">
                <span class="material-symbols-outlined"></span>
            </label>
        </div>
        <div class="hidden-content">
            <article>
                <p>
                    Echidna properties are Solidity functions. A property must:
                </p>
                <ul>
                    <li>
                        Have no argument
                    </li>
                    <li>
                        Return true if it is successful
                    </li>
                    <li>
                        Have its name starting with echidna
                    </li>
                </ul>
                <p>Echidna will:</p>

                <ul>
                    <li>
                        Automatically generate arbitrary transactions to test the property.
                    </li>
                    <li>
                        Report any transactions leading a property to return false or throw an error.
                    </li>
                    <li>
                        Discard side-effects when calling a property (i.e. if the property changes a state variable, it
                        is
                        discarded
                        after the test)
                    </li>
                </ul>
            </article>
        </div>
    </div>

    <div class="toggle-list">
        <div class="toggle-header">
            <h3>Fuzzing results</h3>
            <input type="checkbox" name="show" id="show-2" checked>
            <label for="show-2">
                <span class="material-symbols-outlined">
                </span>
            </label>
        </div>
        <div class="hidden-content">
            <code>
                {{ fuzzing_log }}
            </code>
        </div>
    </div>

    <div class="toggle-list">
        <div class="toggle-header">
            <h3>Code coverage</h3>
            <input type="checkbox" name="show" id="show-3" checked>
            <label for="show-3">
                <span class="material-symbols-outlined">
                </span>
            </label>
        </div>
        <div class="hidden-content">
            <section>
                {{ code_coverage|safe }}
            </section>
            <h4>Legend</h4>
            <p> Our tool signals each execution trace in the corpus with the following "line marker":</p>
            <ul>
                <li><b>*</b> if an execution ended with a STOP</li>
                <li><b>r</b> if an execution ended with a REVERT</li>
                <li><b>o</b> if an execution ended with an out-of-gas error</li>
                <li><b>e</b> if an execution ended with any other error (zero division, assertion failure, etc)</li>
            </ul>
        </div>
    </div>

</main>
{% endblock content %}