{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="/static/symbolic_exec.css">
{% endblock %}
{% block content%}
<main>
    <h2 class="sticky-h2">Symbolic execution with <a href="https://github.com/trailofbits/manticore">manticore</a></h2>
    {% if manticore_tests|length >= 1 %}
    <section class="tests-wrapper">
        {% for test in manticore_tests %}
        <div class="single-test-wrapper {% if test[1]=='passed'%}passed{% endif %}">
            <h4> {{ test[0] }} </h4>
            <h4> {{ test[1] }} </h4>
        </div>
        {% endfor %}
        <div class="toggle-list">
            <div class="toggle-header">
                <h3>Fuzzing results</h3>
                <input type="checkbox" name="show" id="show-2">
                <label for="show-2">
                    <span class="material-symbols-outlined">
                    </span>
                </label>
            </div>
            <div class="hidden-content">
                <code>
                    {{ manticore_log }}
                </code>
            </div>
        </div>
    </section>

    {% else %}
    <h4>There were no tests provided <span class="material-symbols-outlined">
            sentiment_dissatisfied
        </span>
    </h4>
    <h4>You should write some quickly!</h4>
    {% endif %}
    <!-- <p>manticore-verifier example_contracts/echidna2.sol --propre 'echidna'</p>
    <p>
        To do:
    </p>
        <li>delete generated folder</li> -->
</main>
<script>
    const cards = document.querySelectorAll(".single-test-wrapper");
    console.log('cards', cards);

    const observer = new IntersectionObserver(
        entries => {
        entries.forEach(entry => {
            entry.target.classList.toggle("show", entry.isIntersecting);
            if (entry.isIntersecting){
                observer.unobserve(entry.target);
            }
        }, 
        {
            threshold: 1,
            rootMargin: "-200px",
        })
    });

    cards.forEach(card => {
        observer.observe(card);
    });

    const cards2 = document.querySelectorAll(".toggle-list");

    cards2.forEach(card => {
        observer.observe(card);
    });
</script>
{% endblock content %}