{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="/static/vulnerabilities.css">
{% endblock %}
{% block script %}
<script>
    let closedVurIds = [];
    const hiddenalertClassName = "alert-hidden";

    function loadLocalStorage() {
        if (sessionStorage.getItem("closedVurIds") != null) {
            closedVurIds = JSON.parse(sessionStorage.getItem("closedVurIds"));
            for (const id of closedVurIds) {
                const elem = document.querySelector("#vur-" + id);
                elem.classList.add(hiddenalertClassName);
                elem.childNodes[5].childNodes[1].checked = true
            }
        }
    }

    window.onload = loadLocalStorage;

    function doAlert(checkboxElem, warningId) {
        if (checkboxElem.checked) {
            closedVurIds.push(warningId);
            checkboxElem.parentElement.parentElement.classList.add(hiddenalertClassName);
            sessionStorage.setItem("closedVurIds", JSON.stringify(closedVurIds));
        } else {
            closedVurIds = JSON.parse(sessionStorage.getItem("closedVurIds"));
            var index = closedVurIds.indexOf(warningId);
            if (index > -1) {
                closedVurIds.splice(index, 1);
            }
            console.log(closedVurIds);
            checkboxElem.parentElement.parentElement.classList.remove(hiddenalertClassName);
            sessionStorage.setItem("closedVurIds", JSON.stringify(closedVurIds));
        }
    }
</script>
{% endblock %}
{% block content%}
<main>
    {% if vulnerabilities %}
    <h2 class="sticky-h2">Vulnerabilities <a href="https://github.com/crytic/slither">(slither)</a> </h2>
    <section class="alerts-list-wrapper">
        {% for vur in vulnerabilities %}
        <div class="alert-container" id="vur-{{vur.id}}">
            <div class="alert-icon-wrapper">
                <div class="material-symbols-outlined icon">bug_report
                </div>
            </div>
            <div class="alert-body-wrapper">
                <p>{{vur.name}}</p>
            </div>
            <div class="impact-label {{vur.impact}}">
                <p>{{vur.impact}}</p>
            </div>
            <div class="alert-bin-wrapper">
                <input type="checkbox" onchange="doAlert(this,'{{vur.id}}')" />
                <a href={{vur.reference}} class="reference-link">
                    <div class="material-symbols-outlined">
                        quick_reference_all
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </section>
    {% else %}
    <h2>Congrats! There are no vulnerabilities.</h2>
    {% endif %}
</main>
{% endblock content %}