{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="/static/warnings.css">
{% endblock %}
{% block script %}
<script>
    let closedWarningsIds = [];
    const hiddenalertClassName = "alert-hidden";

    function loadLocalStorage() {
        if (sessionStorage.getItem("closedWarningsIds") != null) {
            closedWarningsIds = JSON.parse(sessionStorage.getItem("closedWarningsIds"));
            for (const id of closedWarningsIds) {
                const elem = document.querySelector("#war-" + id);
                elem.classList.add(hiddenalertClassName);
                elem.childNodes[5].childNodes[1].checked = true
                <!-- console.log(); -->
            }
        }
    }

    window.onload = loadLocalStorage;

    function doAlert(checkboxElem, warningId) {
        if (checkboxElem.checked) {
            closedWarningsIds.push(warningId);
            checkboxElem.parentElement.parentElement.classList.add(hiddenalertClassName);
            sessionStorage.setItem("closedWarningsIds", JSON.stringify(closedWarningsIds));
        } else {
            closedWarningsIds = JSON.parse(sessionStorage.getItem("closedWarningsIds"));
            var index = closedWarningsIds.indexOf(warningId);
            if (index > -1) {
                closedWarningsIds.splice(index, 1);
            }
            console.log(closedWarningsIds);
            checkboxElem.parentElement.parentElement.classList.remove(hiddenalertClassName);
            sessionStorage.setItem("closedWarningsIds", JSON.stringify(closedWarningsIds));
        }
    }
</script>
{% endblock %}
{% block content%}
<main>
    {% if warnings %}
    <h2>Warnings</h2>
    <section class="alerts-list-wrapper">
        {% for warning in warnings %}
        <div class="alert-container" id="war-{{warning.id}}">
            <div class="alert-icon-wrapper">
                <div class="material-symbols-outlined icon">warning</div>
            </div>
            <div class="alert-body-wrapper">
                <p>
                    {{warning.name}}
                </p>
                {% if warning.code_str != "" %}
                <div class="code-snippet-wrapper">
                    <p class="code-line">{{warning.line}}</p>
                    <pre class="code-snippet">{{warning.code_str}}</pre>
                </div>
                {% endif %}
            </div>
            <div class="alert-bin-wrapper">
                <input type="checkbox" onchange="doAlert(this,'{{warning.id}}')" />
            </div>
        </div>
        {% endfor %}
    </section>
    {% else %}
    <h2>Congrats! There are no warnings.</h2>
    {% endif %}
</main>
{% endblock content %}